<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Login Page</title>
</head>
<body>
    <h1>Sign In</h1>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="form-container">
        <form action="/account/user1" method="post" class="formElement">
            <label for="email" id="account_email" >Email:</label>
            <input type="email" name="dir_email" id="account_email" required><br>
            <label for="password" id="account_password" >Password:</label>
            <input type="text" name="dir_password" id="account_password" required>
            <button class="login-button">LOGIN</button><br>
            <p>No account? <span class="signup-link"><a href="/account/signUp">Sign-up</a></span></p>
        </form>
    </div>
</body>
</html>

</body>
</html>
