<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="form-container">
        <form action="/account/user" method="post" Id="formElement">
            <label for="email" id="account_email" >Email:</label>
            <input type="email" name="email" id="email" required><br>
            <label for="password" id="password" >Password:</label>
            <input type="text" name="password" id="password" required>
            <button class="login-button">LOGIN</button><br>
            <p>No account? <span class="signup-link"><a href="/account/signup">Sign-up</a></span></p>
        </form>
    </div>
</body>
</html>

</body>
</html>
